@model AlertRate

@section Sidebar {
    @await Html.PartialAsync("side-bar/side-bar-manager")
}

@if (ViewData["Message"] != null)
{
    <div class="alert alert-info">
        @ViewData["Message"]
    </div>
}

@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger">
        @ViewData["Error"]
    </div>
}

<main id="main" class="main">
 <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

          
            <!-- Recent Sales -->
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
  
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Alert Rate</h5>
            
                          <!-- General Form Elements -->
                          <form asp-action="ModifAlertRate" asp-controller="Manager"  method="post" class="row g-3 needs-validation" novalidate>
                            <div class="row mb-3">
                              <label for="inputText" class="col-sm-2 col-form-label">Start date</label>
                              <div class="col-sm-10">
                                <input type="date" asp-for="StartDate" class="form-control">
                                <span asp-validation-for="StartDate" class="text-danger"></span>

                              </div>
                            </div>
                            <div class="row mb-3">
                              <label for="inputEmail" class="col-sm-2 col-form-label">End date</label>
                              <div class="col-sm-10">
                                <input type="date" asp-for="EndDate" class="form-control">
                                <span asp-validation-for="EndDate" class="text-danger"></span>

                              </div>
                            </div>
                            <div class="row mb-3">
                              <label for="inputPassword" class="col-sm-2 col-form-label">Percentage</label>
                              <div class="col-sm-10">
                                <input type="text" asp-for="Percentage" class="form-control">
                                <span asp-validation-for="Percentage" class="text-danger"></span>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit Form</button>
                              </div>
                            </div>
            
                          </form><!-- End General Form Elements -->
            
                        </div>
                      </div>
  
                </div>
              </div><!-- End Recent Sales -->
        </div>
    </div>
    </section>

</main>